{
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-go-template",
    "prettier-plugin-java",
    "prettier-plugin-jinja-template",
    "prettier-plugin-kotlin",
    "prettier-plugin-nginx",
    "prettier-plugin-properties",
    "prettier-plugin-rust",
    "prettier-plugin-sh",
    "prettier-plugin-toml"
  ],

  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
