# Invoking Prettier via dprint

**/.git
**/.svn
**/.hg

# Use 'dart format' instead
**/*.dart
# Use 'pg_format' instead
**/*.sql

# Ignore these target directories
/macos/
/linux/
/assets/danger/
/windows/
/web/
/test/
/android-bak/

# IDE Related
#*.iml
*.ipr
*.iws
/.idea
**/.vscode

# Miscellaneous
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android-bak/app/debug
/android-bak/app/profile
/android-bak/app/release

# Nix and direnv-nix
/.direnv/